* {
    box-sizing: border-box;
    color: maroon;
}

#key {
    font-size: 0px;
}
.gallery {
    display: flex;
}

.gallery img {
    object-fit: cover;
    width: 100%;
    max-width: 350px;
    height: 300px;
}

img {
    object-fit: cover;
    width: 100%;
    max-width: 350px;
    height: 300px;
}


header {
    color: silver;
}
footer {
    font-size: small;
    color: silver;
}